# 조건문의 참과 거짓

In [1]:
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a:
    print("need")
else:
    print("none")

shirt

# 3의 배수의 합 구하기

In [2]:
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i += 1

print(result)

166833

# 별 표시하기

In [5]:
i = 0
while True:
    i += 1
    if i > 5:
        break
    print("*" * i)

*
**
***
****
*****

# 1부터 100까지 출력하기

In [ ]:
for i in range(1,101):
    print(i)

# 평균 점수 구하기

In [15]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(f'평균: {average}')

평균: 79.0

# 리스트 컴프리헨션 사용하기

In [20]:
numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n * 2)
print(result)

[2, 6, 10]

In [18]:
numbers = [1,2,3,4,5]
result = [n * 2 for n in numbers if n % 2 ==1]
print(result)

[2, 6, 10]

# 로또 생성기

In [37]:
# 6가지 숫자가 선택되어야 함
# 중복되면 안됨
# 오름차순으로 정리
# 10만회 돌리기
# 번호 카운팅
# 각 번호 퍼센트 (소수점 2자리)
# 제일 높게 나온 확률 순서대로 번호 3개 추천

In [19]:
import random as r
box = []
result = []
target = 10
n = 0

for i in range(target):
    list = []
    while len(list) < 6:
        ran = r.randint(1,45)
        if ran not in list:
            list.append(ran)
            list.sort(reverse=False)
            box.append(list)
    print(list)
    
    
    
    #for j in range(1,46):
    #    print(f'{j}:{list.count(j)}번')

[18, 21, 35, 37, 38, 44]
[2, 4, 23, 25, 26, 44]
[7, 11, 18, 25, 30, 45]
[7, 12, 19, 24, 25, 35]
[7, 14, 19, 22, 32, 34]
[10, 18, 28, 34, 38, 44]
[1, 8, 25, 30, 33, 36]
[1, 6, 21, 27, 31, 41]
[3, 4, 6, 15, 31, 38]
[4, 5, 13, 30, 33, 39]

In [1]:
#  평균 점수
kor = 80
eng = 75
math = 55
avg = (kor + eng + math)/3
print(f'평균 점수는 {avg}점 입니다.')

평균 점수는 70.0점 입니다.

In [2]:
# 홀수 짝수 판별
num = 13
if num % 2 == 0:
    print(f"{num}은 짝수입니다.")
else:
    print(f"{num}은 홀수입니다.")
# even 짝수
# odd 홀수

13은 홀수입니다.

In [8]:
# 주민등록번호 나누기
num = "881120-1068234"
result = num.split("-")
first = result[0]
second = result[1]

print(f"생년월일 {first}")
print(f"뒷자리 {second}")

생년월일 881120
뒷자리 1068234

In [15]:
# 주민등록번호 인덱싱
pin = "881120-1068234"
result = pin.split("-")
gender = int(result[1][0])
if gender % 2 == 0:
    print(f"첫자리가 {gender}이므로 여자입니다")
else:
    print(f"첫자리가 {gender}이므로 남자입니다")

첫자리가 1이므로 남자입니다

In [16]:
# 문자열 바꾸기
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [29]:
# 리스트 역순 정렬하기
a = [1,3,5,4,2]
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [33]:
# 리스트를 문자열로 만들기
a = ['Life','is','too','short']
result = ",".join(a).replace(","," ")
print(result)

Life is too short

In [36]:
# 튜플 더하기
a = (1,2,3)
a1= (4,)
result = a + a1
print(result)

(1, 2, 3, 4)

In [38]:
# 딕셔너리 값 추출하기
a = {'A':90,'B':80,'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [39]:
# 리스트에서 중복 제거하기
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [40]:
# 파이썬 변수
a = b = [1,2,3]
a[1] = 4
print(b) #모두 동일한 [1,2,3]이라는 객체를 가리키고 있기 때문에 결과가 바뀌었다.

[1, 4, 3]

In [41]:
# 조건문의 참과 거짓
a = "LIfe is too short, you need python"
if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt") # 가장 먼저 참이되는 조건
elif "need" in a:
    print(need)
else:
    print("none")

shirt

In [43]:
# 3의 배수의 합 구하기
result = 0
i = 1
while i <= 1000:
    if i % 3 == 0:
        result += i
    i+=1
print(result)

166833

In [47]:
# 별 표시하기
i = 0
while True:
    i += 1
    if i > 5:
        break
    print("*"*i)

*
**
***
****
*****

In [ ]:
# 1부터 100까지 출력하기
for i in range(1,101):
    print(i)

In [49]:
# 평균 점수 구하기
A = [70,60,55,75,95,90,80,80,85,100]
total = 0
for score in A:
    total += score
average = total / len(A)
print(average)

79.0

In [54]:
# 리스트 컴프리헨션 사용하기
numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [53]:
(result.append(n*2) for n in numbers if n % 2 == 1)
print(result)

[2, 6, 10]

In [57]:
# 홀수 짝수 판별하기
def is_odd(number):
    if number % 2 == 0:
        return True
    else:
        return False
print(is_odd(14))

True

In [61]:
# 모든 입력의 평균값 구하기
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    return result / len(args)
print(avg_numbers(1,2))
print(avg_numbers(1,2,3,4,5))

1.5
3.0

In [64]:
# 프로그램 오류 수정하기 1
input1 = int(input("첫번째 숫자를 입력하세요: "))
input2 = int(input("두번째 숫자를 입력하세요: "))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:  13
두번째 숫자를 입력하세요:  12

두 수의 합은 25 입니다

In [78]:
# 프로그램 오류 수정하기 2
f1 = open("test.txt","w")
f1.write("Life is too short")
f1.close()

f2 = open("test.txt","r")
print(f2.read())
f2.close()

Life is too short

In [93]:
# 사용자 입력 지정하기
user_input = input("저장할 내용을 입력하세요: ")
f = open('test.txt','a')
f.write(user_input)
f.write("\n")
f.close()

저장할 내용을 입력하세요:  you need java

In [94]:
# 파일의 문자열 바꾸기
f = open('test.txt','r')
body = f.read()
f.close()

body = body.replace("java","python")

f = open('test.txt','w')
f.write(body)
f.close()

In [ ]:
# 입력값을 모두 더해 출력하기
# test.py 파일을 실행해야한다. python test.py 1 2 3 4 5
import sys
args = sys.argv[1:]
num = 0
for i in args:
    num += int(i)
print(num)

In [103]:
# 클래스 상속받고 메서드 추가하기1
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self,val):
        self.value += val

class UpgradeCalculator(Calculator):
    def sub(self,val):
        self.value -= val
cal = UpgradeCalculator()
cal.add(10)
cal.sub(7)

print(cal.value)

3

In [106]:
# 클래스 상속받고 메서드 추가하기 2

class MaxLimitCalculator(Calculator):
    def add(self,val):
        self.value += val
        if self.value > 100:
            self.value =  100


cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

In [107]:
# 참과 거짓 예측하기
all([1,2,abs(-3)-3])

False

In [109]:
chr(ord('a')) == 'a'

True

In [13]:
# 디렉터리 이동하고 파일 목록 출력하기
import os
os.environ
os.environ['PATH']
print(os.getcwd())
os.chdir("C:/Users")
print(os.getcwd())

C:\Users
C:\Users

In [14]:
# 파일 확장자가 .py인 파일만 찾기
import glob
glob.glob("C:doit/*.py")

[]

In [28]:
# 날짜 표시하기
# 2018/04/03 17:20:32 출력하기
import time
date = time.strftime('%x', time.localtime(time.time()))
nowTime = time.strftime("%X",time.localtime(time.time()))
result = date.split('/')
month = result[0]
day = result[1]
year = result[2]
print(day)
print(month)
print(year)
print(f'20{year}/{month}/{day} {nowTime}')


print(time.strftime("%Y/%m/%d %X", time.localtime(time.time())))

20
02
25
2025/02/20 23:18:07
2025/02/20 23:18:07

In [49]:
import random as r
result = []
while len(result) < 6:
    num = r.randint(1,45)
    if num not in result:
        result.append(num)

print(result)

[24, 30, 25, 20, 16, 6]

In [51]:
# 누나는 영철이보다 며칠 더 먼저 태어났을까?
# 영철 : 1998년 10월 6일
# 누나 : 1995년 11월 20일
import datetime as d
day1 = d.date(1998,11,20)
day2 = d.date(1995,10,6)

result = day1 - day2
print(result.days)

1141

In [55]:
import operator

data = [('윤서현',15.25),
        ('김예지',13.31),
        ('박예원',15.34),
        ('송순자',15.57),
        ('김시우',15.48),
        ('배숙자',17.9),
        ('전정웅',13.29),
        ('김혜진',16.63),
        ('최보람',17.14)]

result = sorted(data, key= operator.itemgetter(1))
for r in result:
    print(r)

('전정웅', 13.29)
('김예지', 13.31)
('윤서현', 15.25)
('박예원', 15.34)
('김시우', 15.48)
('송순자', 15.57)
('김혜진', 16.63)
('최보람', 17.14)
('배숙자', 17.9)

In [57]:
import itertools
name = ['지혜','성민','지현','정숙']
list(itertools.permutations((name),2))

[('지혜', '성민'),
 ('지혜', '지현'),
 ('지혜', '정숙'),
 ('성민', '지혜'),
 ('성민', '지현'),
 ('성민', '정숙'),
 ('지현', '지혜'),
 ('지현', '성민'),
 ('지현', '정숙'),
 ('정숙', '지혜'),
 ('정숙', '성민'),
 ('정숙', '지현')]

In [60]:
import itertools
a = 'abcd'
result = itertools.permutations(a,4)
for r in result:
    print(''.join(r))

abcd
abdc
acbd
acdb
adbc
adcb
bacd
badc
bcad
bcda
bdac
bdca
cabd
cadb
cbad
cbda
cdab
cdba
dabc
dacb
dbac
dbca
dcab
dcba

In [67]:
import itertools
name = ['승현','진호','춘자','예준','현주']
task = ['청소','빨래','설거지']

result = itertools.zip_longest(name,task,fillvalue='휴식')
print(list(result))

[('승현', '청소'), ('진호', '빨래'), ('춘자', '설거지'), ('예준', '휴식'), ('현주', '휴식')]

In [69]:
import math
math.lcm(200,80)

40

In [70]:
##20제

In [78]:
# 문자열 바꾸기
a = "a:b:c:d"
b = a.split(":")
print("#".join(b))

a#b#c#d

In [79]:
## 딕셔너리값 추출
a = {'A':90, 'B':80}
a.get('C',70)

70

In [105]:
## 리스트의 더하기, extend 함수
a = [1,2,3]
print(id(a))

a = a + [4,5]
print(id(a))

a.extend([4,5])
print(a)
id(a)
# extend는 + 기호와 달리 주소가 달라지지 않는다.

2622978011264
2622978302144
[1, 2, 3, 4, 5, 4, 5]

2622978302144

In [120]:
## 리스트 총합 구하기
A = [20,55,67,82,45,33,90,87,100,25]
result = 0
for i in A:
    if i >= 50:
        result += i
print(result)

481

In [ ]:
## 피보나치 함수
# 첫째항 0, 두번째 1일 때 이후 이어지는 항은 이전 두 항을 더한 값
def fibonacci(n):
    if n <= 1:
        return n  # 0 또는 1이면 그대로 반환
    return fibonacci(n-1) + fibonacci(n-2)  # 앞 두 개 더하기

print(fibonacci(6))  # 8 출력