# 자료형

## 리스트 자료형

### 리스트의 인덱싱과 슬라이싱

In [5]:
odd = [1,3,5,7,9]
a = []
b = [1,2,3] #1,2,3을 요소라고 함, element
c = ['Life','is','too','short']
d = [1,2,'Life', 'is']
e = [1,2,['Life','is']]
print(e[2][1])
print(e[2][0])

is
Life

In [10]:
print(b[1]+b[2])
print(c[0]+c[3])
print(c[0]*b[2])

5
Lifeshort
LifeLifeLife

In [14]:
# 리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

In [16]:
a = [1,2,3,4,5]
print(a[1:3])

[2, 3]

### 리스트 연산하기

In [19]:
a = [11,22,33]
b = [44,55,66]
# 리스트 더하기
print(a+b)
# 리스트 반복하기
c = a*3
print(c)
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [30]:
# 리스트 값 수정하기
a = [11,22,33]
a[2] = 44
print(a)
#a[3] = 55 없는 요소를 수정하는 것은 에러
#print(a)
#a[1] = '' # 빈칸으로 수정 삽입
#a[1] = '0' # 0으로 수정 삽입
# 리스트 값 삭제하기
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [31]:
# 리스트값 슬라이싱으로 삭젤
print(c)
del c[:4]
print(c)

[]
[]

### 리스트 관련 함수

In [33]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
# 리스트 요소 비우기
c.clear()
print(c)

[]

In [39]:
#리스트에 요소 추가하기 : append
a.append(4)
print(a)
a.append([11,22])
print(a)

[11, 44, 4, 4, [11, 22], 4, [11, 22], 4]
[11, 44, 4, 4, [11, 22], 4, [11, 22], 4, [11, 22]]

In [43]:
b =[]
num = 0

In [50]:
num += 1
b.append(num)
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [53]:
# 리스트 정렬(오름차순) - sort
a = [11,44,33,22,55]
print(a)
a.sort()
print(a)

[11, 44, 33, 22, 55]
[11, 22, 33, 44, 55]
[11, 22, 33, 44, 55]

In [55]:
# 리스트 정렬(내림차순) - sort
a = [11,44,33,22,55]
print(a)
a.sort(reverse=True)
print(a)

[11, 44, 33, 22, 55]
[55, 44, 33, 22, 11]

In [58]:
# 리스트 정렬 원본 유지하기
aa = [66,77,88,99,0]
bb = sorted(aa)
cc = sorted(aa, reverse=True)
print(aa)
print(bb)
print(cc)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]
[99, 88, 77, 66, 0]

In [63]:
# sorted 응용
fruit = ['banana', 'kiwi', 'orange','melon','pear','apple','strawberry','blueberry']
result = sorted(fruit, key=len)
result2 = sorted(fruit, key=len, reverse=True)
print(fruit)
print(result)
print(result2)

['banana', 'kiwi', 'orange', 'melon', 'pear', 'apple', 'strawberry', 'blueberry']
['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']

In [54]:
# 리스트 뒤집기 - reverse
a = [11,44,33,22,55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [73]:
print('과일을 먹어볼까?')
for r in result:
    if r == 'banana':
        print(r + '못먹겠어')
    if r !='banana':
        print(r+' 냠냠 맛있다.')
print('와 다 먹었다')

과일을 먹어볼까?
kiwi 냠냠 맛있다.
pear 냠냠 맛있다.
melon 냠냠 맛있다.
apple 냠냠 맛있다.
banana못먹겠어
orange 냠냠 맛있다.
blueberry 냠냠 맛있다.
strawberry 냠냠 맛있다.
와 다 먹었다

In [79]:
# 인덱스 반환 # 리스트에서는 find를 사용할 수 없고 index만 사용 가능
fruit = ['banana', 'kiwi', 'orange','melon','pear','apple','strawberry','blueberry']
fruit.index('melon')

3

In [88]:
# index 응용
fruit = ['banana', 'kiwi', 'orange','melon','pear','apple','strawberry','blueberry']
want = input('먹고 싶은 과일을 입력하세요')
where = fruit.index(want)
print(f'{want} + 를 좋아하시는 군요 그것은 진열대 {where + 1}번 째에 있습니다')

먹고 싶은 과일을 입력하세요 banana

banana + 를 좋아하시는 군요 그것은 진열대 1번 째에 있습니다

In [91]:
# 리스트에 요소 삽입 - insert
num = [11,22,33,55,66,77,88]
print(num)
num.insert(3,44) # 3은 인덱스 위치, 44는 원하는 값
print(num)

[11, 22, 33, 55, 66, 77, 88]
[11, 22, 33, 44, 55, 66, 77, 88]

In [102]:
ex = []

In [103]:
ex.insert(0, '맨앞')
print(ex)
ex.insert(-1, '-1 인덱스')
print(ex)
ex.insert(len(ex), '제일 끝')
print(ex)

['맨앞']
['-1 인덱스', '맨앞']
['-1 인덱스', '맨앞', '제일 끝']

In [3]:
# 리스트 요소 제거하기 - remove
a = [1,2,3,1,2,3]
a.remove(3)
print(a)  #return 나에게 직접 값을 주는 것, print는 요청한 값만 보여주는 것

[1, 2, 1, 2, 3]

In [12]:
# 리스트 요소 끄집어 내기 - pop
a = [1,2,3]

In [14]:
hand = a.pop()
print(a)
print("받은거", hand)

[1]
받은거 2

In [17]:
# 리스트에 포함된 요소 x의 개수 세기 - count
st = "안녕하세요 반가워요"
print(st.count("요"))
a = [1,1,2,3,4,4,3,3,2,1,1,1,2]
print(a.count(1))

2
5

In [26]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)
b = [11,22,33]
c = [44,55,66]
print(b+c)

[1, 2, 3, 4, 5]
[11, 22, 33, 44, 55, 66]

In [29]:
# 장바구니
bag = []

In [39]:
# create - 생성, 입력
inp = input('필요한 항목을 넣어주세요')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다')

필요한 항목을 넣어주세요 맥주

장바구니에는 ['호박', '감자', '술', '맥주']들이 있습니다

In [35]:
# FIFO 출력(큐 출력)
hand = bag.pop(0)
print(f'{hand}을(를) 꺼내서 장바구니에 {bag}이(가) 남았습니다')

감자을(를) 꺼내서 장바구니에 []이(가) 남았습니다

In [50]:
# 선택 출력
bag=['호박', '감자', '소주', '맥주', '피자']
print(f'바구니에 {bag} 물품이 있습니다.')
bring = input('꺼내고 싶은 물품을 입력하세요')
hand2 = bag.pop(bag.index(bring))
print(bag)
print(f"바구니에서 {hand2} 꺼내어 {bag}이 남았습니다.")

바구니에 ['호박', '감자', '소주', '맥주', '피자'] 물품이 있습니다.

꺼내고 싶은 물품을 입력하세요 소주

['호박', '감자', '맥주', '피자']
바구니에서 소주 꺼내어 ['호박', '감자', '맥주', '피자']이 남았습니다.

In [45]:
# 테스트 - pop은 return이 되어 활용 가능하지만 remove는 제거만 하기 때문에 활용 불가 (return x)
choice = 44
a = [11,22,33,44,55,66]
hands = a.remove(choice)
print(f'{choice}을(를) 제거하였습니다.')

44을 제거하였습니다.

In [59]:
# 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1 = input('추가할 물건 이름을 적어주세요')
test2 = input('어느 물품의 뒤에 넣어둘까요?')
add = bag.index(test2)
print(add)
bag.insert(add+1,test1)
print(bag)

추가할 물건 이름을 적어주세요 치킨
어느 물품의 뒤에 넣어둘까요? 감자

1
['호박', '감자', '치킨', '소주', '맥주', '피자']

In [69]:
# 실습
bag = ['호박', '감자', '소주', '맥주', '피자']
# 물품 하나를 추가하기. 단, 지정한 물품 바로 뒤에 추가하기
test1 = input('추가할 물건 이름을 적어주세요')
test2 = input('어느 물품의 앞에 넣어둘까요?')
add = bag.index(test2)
print(add)
bag.insert(add,test1)
print(bag)

추가할 물건 이름을 적어주세요 치킨
어느 물품의 앞에 넣어둘까요? 호박

0
['치킨', '호박', '감자', '소주', '맥주', '피자']

In [71]:
# 테스트
num = int(input('내가 누구게 숫자를 입력하세요'))
print(num + 4 , type(num))

내가 누구게 숫자를 입력하세요 2434

2438 <class 'int'>

In [117]:
import requests
import json
url =''
res = requests.get(url).text
data = json.loads(res)
print(type(data))

result = data[-1]['deal_bas_r']
print(result,type(result))
result2 = result.replace(',',"").replace(".","")
print(result2, type(result2))
exc = int(result2)/10
print(exc, type(exc))
#스트링을 숫자로 바꾸어라. 단 쉼표는 전처리하여 사용 가능하게 하라.

<class 'list'>
1,460.8 <class 'str'>
14608 <class 'str'>
1460.8 <class 'float'>

In [115]:
# 환율 계산기 만들기
dol = int(input('계산하고자 하는 달러를 입력하세요:'))
kor = int(dol * exc)
print(f'1달러는 {exc:,}원 이므로, 요청하신 {dol} 달러의 변환값은 {kor:,}원 입니다') #금액표시하는 3자리만 가능

계산하고자 하는 달러를 입력하세요: 100

1달러는 1,460.8원 이므로, 요청하신 100 달러의 변환값은 146,080원 입니다

In [ ]:
# 형변환

In [40]:
# test
from  IPython.display import clear_output

inp1 = input('질문 1')
clear_output(wait=True)
inp2 = input('질문 2')
clear_output(wait=True)
inp3 = input('질문 3')

print(inp1)
print(inp2)
print(inp3)

질문 3 sdf

sdf
sdf
sdf

In [48]:
0.1 + 0.2

0.30000000000000004

In [51]:
#test2
#from decimal import Decimal
#result = Decimal(0.1+0.2)
rr = 1449.4 *2
print(round(rr,1))

2898.8

## 튜플 자료형

In [53]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b', ('ab','cd'))

In [55]:
# 튜플 요솟값을 삭제하려 할 때
t1 = (1,2,'a','b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [56]:
# 튜플 요솟값을 변경하려 할 때
t1 = (1,2,'a','b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [57]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [59]:
# 인덱싱하기
t1 = (1,2,'a','b')
print(t1[0],t1[3])

1 b

In [60]:
# 슬라이싱
t1 = t1 = (1,2,'a','b')
print(t1[1:])

(2, 'a', 'b')

In [62]:
# 튜플 더하기
t1 = (1,2,'a','b')
t2 = (3,4)
t3 = t1 + t2
print(t3)

(1, 2, 'a', 'b', 3, 4)

In [64]:
# 튜플 곱하기
t2 = 3,4
t3 = t2 * 3
print(t3)

(3, 4, 3, 4, 3, 4)

In [65]:
len(t3)

6

In [73]:
t1 = (1,2,3)
t2 = (4,1)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 1)

## 딕셔너리 자료형

In [76]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}

In [80]:
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-9999-1234
1118

In [83]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55} # 순서가 없다
print(al[0])
print(ad[0])
print(at[0])

11
11
11

In [86]:
#test
for l in al:
    print(l)
print('='*10)
for t in at:
    print(t)

11
22
33
44
55
==========
11
22
33
44
55

In [89]:
a = {'aa':[1,2,3,4,5]}
print(a['aa'])

[1, 2, 3, 4, 5]

In [92]:
dic2 = {'aa':{'name':'pey','phone':'010-9999-1234', 'birth':'1118'}}
dic2['aa']['phone']

'010-9999-1234'

 ### 딕셔너리 쌍 추가, 삭제하기

In [93]:
dic = {'aa':{'name':'pey','phone':'010-9999-1234', 'birth':'1118'}}
dic['address'] = 'busan'
print(dic)

{'aa': {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}, 'address': 'busan'}

In [94]:
dic['array']=[1,2,3,4,5]
print(dic)

{'aa': {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}, 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [106]:
print(dic)

print(dic)

{'aa': {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}, 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{'aa': {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}, 'address': 'busan', 'array': [1, 2, 3, 4, 5]}

In [100]:
# 딕셔너리 만들 때 주의할 사항
a = {1:'a', 1:'b'}
print(a)

{1: 'b'}

### 딕셔너리 관련 함수

In [129]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
# key 리스트 만들기 - keys
print(a.keys())
# value 리스트 만들기 - values
print(a.values())
# key, value 쌍 얻기 - items
print(a.items())
print(a)
# key:value 쌍 모두 지우기 - clear
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'address', 'array'])
dict_values(['pey', '010-9999-1234', '1118', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118'), ('address', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [126]:
for k in a.keys():
    print(k)

name
phone
birth
address
array

In [133]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print(a.get('name'))
print(a.get('super'))
print(a['money'])

pey
None

KeyError: 'money'

In [134]:
a = {'name': 'pey', 'phone':'010-9999-1234', 'birth': '1118', 'address': 'busan', 'array': [1, 2, 3, 4, 5]}
print('name' in a)

True

In [136]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55} 
print(22 in al) # 리스트
print(99 in at) # 튜플
print(1 in ad) # 딕셔너리 키

True
False
True

In [72]:
# 실습 random 모듈
import random
menu = ["구내식당", "후문 편의점", "자가도시락","굶기","과자"]

num1 = random.random()
print(f'0과 1사이의 랜덤 소수 {num1}')

num2 = random.randint(1,100)
print((f'1과 100사이의 랜덤 수 {num2}'))

lunch = random.choice(menu)
print(f'오늘 선택된 메뉴는 {lunch}를 추천드립니다')

deck = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(deck) #원본이 손상됨
print(deck)

0과 1사이의 랜덤 소수 0.6364104382390227
1과 100사이의 랜덤 수 74
오늘 선택된 메뉴는 과자를 추천드립니다
[3, 4, 9, 1, 6, 8, 10, 2, 7, 5]

## 집합 자료형

In [3]:
# 중복을 허용하지 않는다.
# 순서가 없다.
s1 = set([1,2,3])
print(s1,type(s1))
s2 = set("hello")
print(s2, type(s2))

{1, 2, 3} <class 'set'>
{'h', 'l', 'e', 'o'} <class 'set'>

In [7]:
# 집합자료형의 특징 
s1 = set([11,11,22,22,33])
l1 = list(s1)
print(l1, type(l1))

t1 = tuple(s1)
print(t1, type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

### 교집합, 합집합, 차집합 구하기

In [9]:
# 교집합 and
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [14]:
# 합집합 or
print(s1|s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
# 차집합
print(s1 - s2)
print(s2 - s1)

{1, 2, 3}
{8, 9, 7}

### 집합 자료형 관련 함수

In [16]:
# 값 1개 추가하기 -add
s1 = set([1,2,3])
s1.add(4)
print(s1)

{1, 2, 3, 4}

In [17]:
# 값 여러개 추가하기 - update
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [18]:
# 특정 값 제거하기 - remove
s1 = set([1,2,3])
s1.remove(2)
print(s1)

{1, 3}

## 불 자료형

In [ ]:
# True: 참을 뜻한다. (1), False: 거짓을 뜻한다. (0)

In [25]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [26]:
3 ==3

True

In [32]:
print(bool("python"))
print(bool(""))
print(bool([1,2,3]))
print(bool([]))
print(bool(()))
print(bool((1,2,3)))
print(bool({'a':1}))
print(bool({}))
print(bool(1))
print(bool(0))
print(bool(None))

True
False
True
False
False
True
True
False
True
False
False

In [35]:
# random 으로 스토리 생성기 만들기
import random
# 등장인물
characters = ["용감한 기사", "모험심 넘치는 고양이", "호기심 많은 로봇", "서투른 마법사","명석한 탐정", "신나는 돌맹이"]
places = ["어두운 숲에서","먼 우주 행성에서","바닷속 도시에서", "귀신이 나오는 흉가에서","재밌는 교실에서","마법의 성에서"]
events = ["숨겨진 보물을 발견했다.", "무시무시한 용과 싸웠다.", "비밀 통로를 발견했다.", "고대의 미스터리를 풀었다.", "왕국을 위험에서 구하였다.", "꾸안꾸로 다녔다."]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)
ch1 = random.choice(characters)
pl1 = random.choice(places)
ev1 = random.choice(events)

print(f"어느날, {ch}는 {pl} 모험을 떠나, {ev} 그리고 {ch1}는 {pl1}{ev1}")

어느날, 서투른 마법사는 어두운 숲에서 모험을 떠나, 무시무시한 용과 싸웠다. 그리고 호기심 많은 로봇는 바닷속 도시에서왕국을 위험에서 구하였다.

# 자료형의 값을 저장하는 공간, 변수

## 리스트의 옅은 복사, 깊은 복사

In [3]:
a = [1,2,3]
b = a
print(a,id(a))
print(b,id(b))

[1, 2, 3] 1697088684224
[1, 2, 3] 1697088684224

In [6]:
a is b

True

In [14]:
from copy import copy

c = [11,22,33]
#d = copy(c) #방식1
d = c[:] # 방식2
print(c,id(c))
print(d,id(d))
d[1] = 77
print(c,id(c))
print(d,id(d))

[11, 22, 33] 1697094563712
[11, 22, 33] 1697094491136
[11, 22, 33] 1697094563712
[11, 77, 33] 1697094491136

In [15]:
c is d

False

## 변수를 만드는 여러가지 방법

In [17]:
a,b = ('파이썬', '짱장')
[c,d] = ['배고파','밥줘']
num1 = num2 = num3 = 10
print(a,b)
print(c,d)
print(num1,num2,num3)

파이썬 짱장
배고파 밥줘
10 10 10

In [19]:
a = 3
b = 7
print(a,b)
a,b = b,a
print(a,b)

3 7
7 3